body {
	font-family: "cursive" ;
	background-color: tomato;
}

.header-conteiner{
	width: 100%;
	height: 300px;
	margin: 0 10px;
}

.header-conteiner{
	display: flex;
	justify-content:space-around;
	text-align: center;

}

.header-text{
	display: inline-block;
	text-align: left;
	margin: auto 0;
	width: 60%;
	font-family: "cursive" ;
}

.header-text h2{
	border-bottom: 1px solid #999;
	padding-bottom:3px;
	padding-left: 10px;
}

.header-text p{
	padding-left: 40px;
}

.top-text{
  animation: SlideIn 1.6s;
}

/* CSSアニメーションの設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sab-text{
	animation: SlideIn 2.5s;
}

/* CSSアニメーションの設定 */
@keyframes SlideIn {
  0% {
    opacity: 0;/*初期状態では透明に*/
    transform: translateX(64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.header-logo img {
    animation: fadeIn 4s ease 0s 1 normal;
    -webkit-animation: fadeIn 4s ease 0s 1 normal;
		width: 30vw;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
	}


.conteiner{
	width: 100%;
	/*height: 600px;*/
	margin: 0 10px;
	font-family: "cursive" ;
}



header img{
	width: 35vw;
	padding-top: 10%;
	
	
}

.title-text h2{
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-top: 10%;
}

.title-text h2{
	font-size: 25px;
	margin-bottom: 30px;
}

.works-contents img{
	width: 50%;

	margin: 0 auto;
	margin: 20px 0px;
}

.flex-item{
	width: 15%;
	border-radius: 20px;
}

.flex-box{
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	margin: 0 auto;
	text-align: center;
}

.flex-item{
	margin: 5px;
	margin-bottom: 20px;
}

.works-contents h3{
	font-size: 18px;
}

.works-contents p{
	font-size: 12px;
	margin: 10px;
}

.item1{
	background-color: rgb(221, 160, 221,0.2);
}

.item2{
	background-color: rgb(210, 180, 140,0.2);
}

.item3{
	background-color: rgb(255, 127, 80,0.2);
}

.item4{
	background-color: rgb(85, 107, 47,0.2);
}

.item5{
	background-color: rgb(155, 107, 47,0.2);
}


.btn-conteiner {
	height: 11%;
	margin-top: 5%;
	text-align: center;
}

.btn-text h2{
	line-height: 5px;
	letter-spacing: 5px;
	color: #333;
	width: 50%;
	margin: 0 auto;
	padding: 2%;
	border-bottom: 1px solid #999;
	
	
}



.flex-box {
    animation: fadeIn 1.5s ease 0s 1 normal;
    -webkit-animation: fadeIn 4s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
	}



.profile-contents{
	display: flex;
	justify-content:space-around;
	text-align: center;
}


.profile-contents-icon h2{
	padding-top: 30px;
	font-size: 19px;

}

.profile-contents-icon a{
 background-color: skyblue;
 color: white; 
}

.fa {
	margin-right: 5px;
}

.profile-contents-icon img{
	width: 30vw;
	/*height: 50%;*/
	margin: 1%;
}

.profile-text-aria{
	width: 50%;
	height: 100%;
	margin: 20px;
	/*background-color: blue;*/
}

.profile-text-aria h2{
	font-size: 17px;
	text-align: left;
	font-weight: bold;
}

.profile-text-aria p{
	font-size: 12px;
	text-align: left;
}
