body {
	font-family: "cursive" ;
	background-color: tomato;
}


.conteiner{
	width: 100%;
/*	height: 100%;*/
	margin: 0 10px;
	font-family: "cursive" ;
}

/*.nav{
	display: flex;
	justify-content:space-around;
}*/

header{
	height: 30px;
	background-color: #000A38;
	margin-bottom: 20px;
}

.nav{
	display: flex;
	justify-content:flex-end;
}

.nav-item{
	padding: 2px;
	margin: 0px 10px;
	padding: 0 10px;
	text-align: center;
}

.nav-item a{
	color: white;
	border-bottom: 1px solid #999;
	margin-right: 5px;
}

a:hover{
	/*background-color: white;*/
	border-radius: 5px;
	animation: fadeIn 0.5s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.works-title h2{
	border-bottom: 1px solid #999;
	font-size: 17px;
	padding-bottom: 8px;
	padding-left: 8px;
}

.works-conteiner{
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	margin: 0 auto;
}

.contents-item{
	text-align: center;
	margin: 20px 0px;
	/*padding: 25px;*/
}

.contents-icon img{
	width: 100px;
	height: 100px;
	padding: 15px;
}



.contents-icon img {
display: block;
transition-duration: 0.5s;
}
.contents-icon img:hover {
transform: scale(2.2,2.2);
transition-duration: 0.5s;
}




.contents-text{
	text-align: center;
}

.contents-text h3{
	font-size: 10px;
	font-weight: bold;
	padding-top: 15px;
	
}

.contents-text p{
	font-size: 8px;
}